.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

ul li {
  list-style: none;
  padding: 0.6rem;
  font-size: 1.2rem;
  text-align: center;
}
.character {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  margin: 1% auto;
  border-radius: 2px;
  background-color: #eee;
  color: black;
}

.character h1 {
  background-color: black;
  color: yellow;
  padding: 0.2rem;
}

.character p {
  font-weight: bold;
}
